div.main {
  display: flex;
  justify-content: center;
}

.invisible{
  display: none;
}

.spacer {
  flex: 1;
}

.highlight{
  background: #d4dfff; /* green */
}

.full-width{
  width: 100%;
}

.w-40 {
  width: 40px
}

.w-80 {
  width: 80px
}

.th-center {
  text-align: center;
}

table.main {
  width: 90%;
  align-self: center;
}

mat-form-field.input-headline {
  align-self: center;
  font-size: 15px;
  line-height: 15px;
  font-weight: 400;
  padding: 16px 5px 0px 5px;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: #dedede;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #d4dfff;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
  flex-direction: row;
}
