<mat-toolbar class="darker-primary">
  <div>
    <a mat-button routerLink="/keypoints-dataset" routerLinkActive #rlaKeypoints="routerLinkActive" [ngClass]="(rlaKeypoints.isActive) ? 'lastly-clicked-link': 'normal-link'">Keypoints dataset creator</a>
    <a mat-button routerLink="/tracker-dataset" routerLinkActive #rlaTracker="routerLinkActive" [ngClass]="(rlaTracker.isActive) ? 'lastly-clicked-link': 'normal-link'">Tracker dataset creator</a>
  </div>
</mat-toolbar>
<mat-divider class="accent-border"></mat-divider>

<router-outlet></router-outlet>
