<mat-toolbar color="primary">
  <button mat-button type="button" (click)="generateData()" disabled="{{missingData()}}">Generate data file</button>
  <input style="display: none" type="file" multiple (change)="validateAndUpload($event)" #fileInput>
  <button mat-button type="button" (click)="fileInput.click()">Select images</button>
  <div class="spacer"></div>
  <mat-form-field class="input-headline">
    <mat-label>Image width</mat-label>
    <input id="imgWidth" matInput type="number" min="0" max="512" [(ngModel)]="imgWidth" disabled="{{imagesLoadedAlready()}}">
  </mat-form-field>
  <mat-form-field class="input-headline">
    <mat-label>Image height</mat-label>
    <input id="imgHeight" matInput type="number" min="0" max="512" [(ngModel)]="imgHeight" disabled="{{imagesLoadedAlready()}}">
  </mat-form-field>
  <mat-form-field class="input-headline">
    <mat-label>Image directory</mat-label>
    <input id="imgDirectory" matInput type="text" placeholder="Upload image directory" [(ngModel)]="imgDirectory" disabled="{{imagesLoadedAlready()}}">
  </mat-form-field>
</mat-toolbar>

<div class="main">
  <table mat-table class="main" [dataSource]="imagesTableData" multiTemplateDataRows>
    <ng-container matColumnDef="{{column}}" *ngFor="let column of imagesDisplayedColumns">
      <th mat-header-cell *matHeaderCellDef> {{column}} </th>
      <td mat-cell *matCellDef="let image; let rowNum = dataIndex;">
        <div *ngIf="column === 'Actions'">
          <button mat-icon-button matTooltip="Delete keypoint" color="warn" (click)="$event.stopPropagation(); deleteImage(rowNum)">
            <mat-icon aria-label="Delete">delete</mat-icon>
          </button>
        </div>
        <div *ngIf="column !== 'Actions'">{{image.name}}</div>
     </td>
    </ng-container>

    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let image; let rowNum = dataIndex;" [attr.colspan]="2">
        <div class="example-element-detail"
             [@detailExpand]="image == expandedImage ? 'expanded' : 'collapsed'">
          <div style="width: 100%">
            <div style="float:left">
              <div id="{{imageContainer + rowNum}}"></div>
              <div id="{{templateContainer + rowNum}}"></div>
            </div>
            <div class="overflow">
              <table class="secondary "mat-table [dataSource]="getKeyPointData(rowNum)">
                <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef>Id</th>
                  <td mat-cell *matCellDef="let keypoint">{{keypoint.id}}</td>
                </ng-container>
                <ng-container matColumnDef="x">
                  <th mat-header-cell *matHeaderCellDef>X</th>
                  <td mat-cell *matCellDef="let keypoint">{{keypoint.x}}</td>
                </ng-container>
                <ng-container matColumnDef="y">
                  <th mat-header-cell *matHeaderCellDef>Y</th>
                  <td mat-cell *matCellDef="let keypoint">{{keypoint.y}}</td>
                </ng-container>
                <ng-container matColumnDef="actions">
                  <th mat-header-cell *matHeaderCellDef>Actions</th>
                  <td mat-cell *matCellDef="let keypoint">
                    <button mat-icon-button (click)="deleteKeypoint(keypoint, rowNum)" matTooltip="Delete keypoint" color="warn">
                      <mat-icon aria-label="Delete">delete</mat-icon>
                    </button>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="keyPointsDisplayedColumns"></tr>
                <tr mat-row *matRowDef="let keypoint; columns: keyPointsDisplayedColumns;" [ngClass]="{'highlight': selectedKeyPoint == keypoint}" (click)="changeSelection(keypoint)"></tr>
              </table>
            </div>
          </div>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="imagesDisplayedColumns"></tr>
    <tr mat-row *matRowDef="let image; let rowNum = dataIndex; columns: imagesDisplayedColumns;"
        class="example-element-row"
        [class.example-expanded-row]="expandedImage === image"
        (click)="expandAndDrawImages(image, rowNum)">
    </tr>
    <tr mat-row *matRowDef="let image; columns: ['expandedDetail']" class="example-detail-row"></tr>
  </table>
</div>
<div id="{{resizeContainer}}" class="invisible"></div>
